* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
	font-family: sans-serif;
}

.App,
#map {
	height: 100%;
}

.list-btn,
.list-input,
.info-box {
	box-shadow: 0 0 3px rgba(170, 170, 170, 0.75);
}

/* Locations */
.list-form {
	max-width: 250px;
}
.list-box {
	position: fixed;
	top: 45px;
	left: 0;
	z-index: 100;
	padding: 0 10px;
}

.list-btn {
	background: #fff;
	font-weight: 600;
	padding: 7px 9px;
	border: none;
	border-radius: 3px 0 0 3px;
}

.list-btn:hover {
	background: #ebebeb;
}

.list-input {
	padding: 7px 9px;
	border: none;
	border-radius: 0 2px 2px 0;
}

.place-list {
	list-style: none;
	background: #fff;
	max-width: 250px;
	padding: 0 10px 10px 10px;
}

.place-item {
	padding: 10px 0;
	border-bottom: 4px solid #fff;
}

.place-item:hover {
	color: #35bf96;
	cursor: pointer;
	border-color: #35bf96;
}

/* Information */
.info-box {
	width: 320px;
	min-height: 240px;
	height: 40%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 50;
	overflow: auto;
	background: #ebebeb;
	padding: 10px;
	border-radius: 2px 2px 0 0;
}

.info-box h2 {
	padding: 0 0 5px 0;
	border-bottom: 2px solid #bbb;
	margin: 0 0 10px 0;
}



.attribution {
	color: #aaa;
	font-style: italic;
	font-size: 0.8em;
	margin: 5px 0;
}
